<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" name="referrer" content="no-referrer">
  <title>Search</title>
</head>
<link rel="stylesheet" type="text/css" href="static/semantic.min.css">

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="static/semantic.min.js"></script>

<style type="text/css">
  body>.ui.container {
    margin-top: 2em;
  }

  iframe {
    border: none;
    width: calc(100% + 2em);
    margin: 0em -1em;
    height: 300px;
  }

  iframe html {
    overflow: hidden;
  }

  iframe body {
    padding: 0em;
  }

  .SearchForm {
    margin: auto;
    margin-top: 2em;
    width: 25%;
    align-content: center;
  }

  .SearchResultForm {
    margin: auto;
    margin-top: 2em;
    width: 95%;
  }

  .SearchResultForm>h1 {
    font-size: 2em;
    text-align: left;
    font-weight: bold;
  }

  .ref {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
</style>

<body>

  <div class="ui container">
    {% include "menu.html" %}
    <div class="ui segment">
      <div class="SearchResultForm">
        {% if book_list %}
        {% for book in book_list %}
        <h1>《{{ book[0] }}》</h1>
        <h2 class="ui dividing header"></h2>
        <table class="ui unstackable table">
          <thead>
            <tr>
              <th colspan="3">Book Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="10%">书名</td>
              <td>《{{ book[0] }}》</td>
              <td rowspan="4" width="30%" valign="top" style="overflow: =hidden;">
                <img src="{{ book[3] }}" height="300">
              </td>
            </tr>
            <tr>
              <td>副标题</td>
              <td>{{ book[1] }}</td>
            </tr>
            <tr>
              <td>作者</td>
              <td><a href="/author%3Fauthor_id%3D{{ book[2] }}">{{ book[16] }}</a></td>
            </tr>
            <tr>
              <td>简介</td>
              <td>{{ book[4] }}</td>
            </tr>
            <tr>
              <td>出版社</td>
              <td><a href="/publisher%3Fpublisher_id%3D{{ book[5] }}">{{ book[17] }}</a></td>
              <td></td>
            </tr>
            <tr>
              <td>页数</td>
              <td>{{ book[6] }}</td>
              <td></td>
            </tr>
            <tr>
              <td>装订</td>
              <td>{{ book[7] }}</td>
              <td></td>
            </tr>
            <tr>
              <td>评分</td>
              <td><a href="/publisher%3Fpublisher_id%3D{{ book[8] }}">{{ book[18] }} / 10.0</a></td>
              <td></td>
            </tr>
            <tr>
              <td>ISBN</td>
              <td>{{ book[9] }}(ISBN13) / {{ book[10] }}(ISBN13)</td>
              <td></td>
            </tr>
            <tr>
              <td>丛书系列</td>
              <td><a href="/serie%3Fserie_id%3D{{ book[11] }}">{{ book[12] }}</a></td>
              <td></td>
            </tr>
            <tr>
              <td>价格</td>
              <td>{{ book[13] }}</td>
              <td></td>
            </tr>
            <tr>
              <td>出版日期</td>
              <td>{{ book[14] }}</td>
              <td></td>
            </tr>
            <tr>
              <td>豆瓣链接</td>
              <td><a href="{{ book[15] }}">{{ book[15] }}</a></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        {% if current_user.is_authenticated %}
        <h2>Write Your Reivew Now!</h2>
        <form class="ui reply form" method="post" align='right'>
          <div class="field">
            {{ reviewForm.hidden_tag() }}
            {{ reviewForm.review_content(rows=10) }}
            <!-- <textarea></textarea> -->
          </div>
          <button class="ui blue labeled submit icon button" type="submit">
            <i class="icon edit"></i>Add Review!
          </button>
        </form>
        {% else %}
        <h2>You Can Write Your Reivew After Login!</h2>
        <form class="ui reply form" method="post" align='right'>
          <!-- <form action="/search" method="post" class="ui form"> -->
          <div class="field">
            {{ reviewForm.hidden_tag() }}
            {{ reviewForm.review_content(rows=10) }}
            <!-- <textarea></textarea> -->
          </div>
          <button class="ui blue disabled labeled submit icon button">
            <i class="icon edit"></i>Add Review!
          </button>
          {{ reviewForm.submit() }}

        </form>
        {% endif %}

        {% if reviews_list %}
        <table class="ui unstackable table">
          <thead>
            <tr>
              <th colspan="4">Book Reviews</th>
            </tr>
            <tr>
              <th>Book</th>
              <th>Time</th>
              <th>Content</th>
              <th>Likes</th>
            </tr>
          </thead>
          <tbody>
            {% for review in reviews_list %}
            <tr>
              <td width='100'>{{ review[0] }}</td>
              <td width="100">{{ review[1] }}</td>
              <td>{{ review[2] }}</td>
              <td width='18%'>
                <div class="ui labeled button" tabindex="0">
                  <div class="ui blue button">
                    <i class="heart icon"></i>
                    Likes
                  </div>
                  <a class="ui basic blue left pointing label">
                    {{ review[3] }}
                  </a>
                </div>
                {% if review[4] == current_user.id %}
                  <a class="negative ui button" style="margin-top:1em" href="/delete%3Freview_id%3D{{ review[5] }}%26book_id%3D{{ book_id }}">Delete</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}

        </table>
        {% endfor %}
        {% endif %}
      </div>
    </div>

    {% include "foot.html" %}
  </div>

</body>

</html>