<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>
<link rel="stylesheet" type="text/css" href="static/semantic.min.css">

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="static/semantic.min.js"></script>

<style type="text/css">
  body>.ui.container {
    margin-top: 2em;
  }

  iframe {
    border: none;
    width: calc(100% + 2em);
    margin: 0em -1em;
    height: 300px;
  }

  iframe html {
    overflow: hidden;
  }

  iframe body {
    padding: 0em;
  }

  .SearchForm {
    margin: auto;
    margin-top: 2em;
    /* width: 50%; */
    margin-bottom: 10%;
    position: relative;
  }
</style>

<body>


  <div class="ui container">

    {% include "menu.html" %}
    <!-- <div class="ui segment"> -->


    <div align="center" style="margin-top: 10%;margin-bottom: 2em;">
      <img src="/static/logo.png" width="100" height="100">
    </div>
    <div class="ui search" align="center">
      <form action="/search" method="post" class="ui form">
        {{ form.hidden_tag() }}
        <div class="ui icon input" style="width: 40%">
          {{ form.book_name }}
          <i class="search icon"></i>
        </div>
        <!-- {{ form.submit() }} -->

      </form>
    </div>

    <p></p>
    <!-- </div> -->
  </div>

</body>

</html>