<div class="ui pointing menu">
    <a class="{% if active == 'index' %}active{% endif %} item" href="/">
        <img src="/static/logo.png" style="height:1.5em; width: 1.5em">
        <p style="margin-left:1em">SYSU Book Database</p>
    </a>
    <a class="{% if active == 'reviews' %}active{% endif %} item" href="/reviews">
        Newest Reviews
    </a>
    <a class="{% if active == 'book' %}active{% endif %} item" href="/book">
        Book
    </a>
    <a class="{% if active == 'author' %}active{% endif %} item" href="/author">
        Author
    </a>
    <a class="{% if active == 'publisher' %}active{% endif %} item" href="/publisher">
        Publisher
    </a>

    <a class="{% if active == 'serie' %}active{% endif %} item" href="/serie">
        Serie
    </a>
    <div class="right menu">
        {% if active != 'index' %}
        <a class="item">
            <form action="/search" method="post" class="ui form">
                <div class="ui transparent icon input">
                    {{ form.hidden_tag() }}
                    {{ form.book_name }}
                    <!-- {{ form.submit() }} -->
                    <i class="search link icon"></i>
                </div>
            </form>
        </a>
        {% endif %}
        <a class="{% if active == 'login' %}active{% endif %} item" href="/home">Home</a>
    </div>

</div>